* {
    margin: 0;
    padding: 0;
}
.card-text {
    border-top: 1px solid #EEEEEE;
    padding: 5px;
}
#example {
    width: 100%;
}
.comments {
    width: 60vw;
}
.form-group .btn-social-icon {
    font-size: 20px;
}